body{
    font-family: 'Mulish', arial, serif;
    --color-bg: #4bb769; //
    background-color: var(--color-bg);
}

h1{
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}