*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-bg: #2612a7e2;
    --color-title: #e9eaf3;
    --color-sec: #e8b4d3;
    --color-grey: #3a3663;
    --color-btn-bg: #3820d5e2;
    --color-field: #513cd8e2;
    --color-field-bg: #3b26c5a2;
    
}

.light-mode{
    --color-bg: #e8b4d3;
    --color-title: #e9eaf3;
    --color-sec: #2612a7e2;
    --color-grey: #3a3663;
    --color-btn-bg: #b37499;
    
}

body{
    background-color: var(--color-bg);
    font-family: 'Mulish', sans-serif;
    color: var(--color-title);
    line-height-step: 1fr;
}

.theme-btn{
    top: 5%;
    right: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-btn-bg);   
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 1px 3px 10px rgba(0,0,0,.9);
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-7px);
    }
    i{
        font-size: 1.4rem;
        color: var(--color-title);
        pointer-events: none;
    }
}

h1{
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}


.form-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 4%;
    padding: 15px 0;
    color: var(--color-title);
    border-radius: 24px;
    background-color: var(--color-field);
    box-shadow: 2px 5px 18px rgba(0,0,0,.45);
    
    .paper{
        margin-left: 2%;
    }
    
    
    input{
        margin: .5%;
        margin-bottom: .5%;
        border-radius: 24px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .5rem .8rem;
        outline: none;
        border: none;
        background-color: var(--color-field-bg);
        width: 23%;
        color: var(--color-title);
        resize: none;
        
    }
    button{
        cursor: pointer;
        margin-left: 16px;
        border-radius: 24px;
        font-weight: inherit;
        font-size: inherit;
        font-family: inherit;
        padding: .3rem .5rem;
        outline: none;
        border: none;
        background-color: var(--color-field-bg);
        width: fit-content;
        color: var(--color-title);
        resize: none;
        
    }
    .result{
        width: fit-content;
        margin-left: 22px;
    }
    

}

.btn-con{
    display: flex;
    align-self: flex-start;
    padding-top: 5%;
    
}

.continue-btn{
    top: 5%;
    left: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 1px 3px 10px rgba(0,0,0,.9);
    align-self: flex-start;
    overflow: hidden;
    background-color: transparent;
    padding: .4rem 1.25rem;
    i{
        font-size: 2rem;
        color: var(--color-title);
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: var(--color-sec);
        transition: width 0.2s linear;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
        }
    }
}